LearnJAVA/JAXWSHelloWorld/src/main/resources/input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://odisha.india.co.in/jaxwshelloworld" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Counter">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="id"/>
                <xs:element type="xs:string" name="firstName"/>
                <xs:element type="xs:string" name="lastName"/>
                <xs:element type="xs:string" name="address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>